body {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

.error {
    color: red;
}

.centered {
    margin: 0 auto;
    width: 60%;
    padding: 1em;
    border: 1px solid #ccc;
    border-radius: 1em;
    background-color: rgb(235, 203, 161);

  }

  label {
    display: inline-block;
  }